<h1>Team Info</h1>
<div class="space">
  <div class="compare">
    <div class="dropdown1">
      <h3>Player 1</h3>
      <div>
        <img id="chris" src="http://i.imgur.com/sUkUeVq.jpg" />
        <p>Name: Chris Bates</p>
        <p>Team: WDI-GA</p>
        <p>Height: 6-0</p>
        <p>Weight: 165 lbs</p>
        <p>Position: Web Developer</p>
      </div>
    </div>
    <div class="dropdown2">
      <h3>Player 2</h3>
      <div>
        <img id="david" src="http://i.imgur.com/CKxngb4.jpg" />
        <p>Name: David Quigley</p>
        <p>Team: WDI-GA</p>
        <p>Height: 6-0</p>
        <p>Weight: 175 lbs</p>
        <p>Position: Web Developer</p>
      </div>
    </div>
  </div>
</div>
