<h1>Team Info</h1>
      <div class="space">
      <div class="compare">
        <div class="dropdown1">
          <h3>Player 1</h3>
          <div>
            <img src="/images/{{selectedPlayer1.photo}}" />
            <p>Name: {{ selectedPlayer1.name }}</p>
            <p>Team: {{ selectedPlayer1.team }}</p>
            <p>Height: {{ selectedPlayer1.height }}</p>
            <p>Weight: {{ selectedPlayer1.weight }}</p>
            <p>Position: {{ selectedPlayer1.position }}</p>
          </div>
        </div>
        <div class="dropdown2">
          <h3>Player 2</h3>
          <div>
            <img src="/images/david.jpg" />
            <p>Name: {{ selectedPlayer2.name }}</p>
            <p>Team: {{ selectedPlayer2.team }}</p>
            <p>Height: {{ selectedPlayer2.height }}</p>
            <p>Weight: {{ selectedPlayer2.weight }}</p>
            <p>Position: {{ selectedPlayer2.position }}</p>
          </div>
        </div>
      </div>
    </div>
