<h1>Compare Players</h1>

<div class="dropdown1">
  <h3>Player 1</h3>
  <select ng-model="selectedPlayer1" ng-options="player.name for player in ctrl.player1">

  </select>

  <p>Games Played: {{ selectedPlayer1.gp }}</p>
  <p>Points Per Game: {{ selectedPlayer1.ppg }}</p>
  <p>Assists Per Game: {{ selectedPlayer1.apg }}</p>
  <p>Rebounds Per Game: {{ selectedPlayer1.reb }}</p>
  <p>Defensive Rebounds Per Game: {{ selectedPlayer1.dreb }}</p>
  <p>Offensive Rebounds Per Game: {{ selectedPlayer1.oreb }}</p>
  <p>Field Goal Percentage: {{ selectedPlayer1.fgpct }}</p>
  <p>Free Throws Attempted: {{ selectedPlayer1.fta }}</p>
  <p>Free Throw Percentage: {{ selectedPlayer1.ftpct }}</p>
  <p>Three Pointers Attempted: {{ selectedPlayer1.threepat }}</p>
  <p>Three Pointer Percentage: {{ selectedPlayer1.threeppct }}</p>
  <p>Three Pointers Made: {{ selectedPlayer1.threepmade }}</p>
  <p>Steals Per Game: {{ selectedPlayer1.stl }}</p>
  <p>Blocks Per Game: {{ selectedPlayer1.blk }}</p>
  <p>Plus/Minus: {{ selectedPlayer1.plusminus }}</p>
  <p>Turnovers Per Game: {{ selectedPlayer1.turnov }}</p>
  <p>Field Goals Attempted: {{ selectedPlayer1.fga }}</p>
  <p>Field Goals Made: {{ selectedPlayer1.fgm }}</p>
  <p>Minutes Per Game: {{ selectedPlayer1.min }}</p>
  <p>Offensive Rating: {{ selectedPlayer1.offrtg }}</p>
  <p>Defensive Rating: {{ selectedPlayer1.defrtg }}</p>
  <p>Assist/TO Ratio: {{ selectedPlayer1.astto }}</p>
  <p>Effective Field Goal Percentage: {{ selectedPlayer1.efgpct }}</p>
  <p>True Shooting Percentage: {{ selectedPlayer1.tspct }}</p>
  <p>Assist Percentage: {{ selectedPlayer1.astpct }}</p>
  <p>Player Impact Estimate: {{ selectedPlayer1.pie }}</p>
</div>

<div class="dropdown2">
  <h3>Player 2</h3>
  <select ng-model="selectedPlayer2" ng-options="player.name for player in ctrl.player2">
  </select>

    <p>Games Played: {{ selectedPlayer2.gp }}</p>
    <p>Points Per Game: {{ selectedPlayer2.ppg }}</p>
    <p>Assists Per Game: {{ selectedPlayer2.apg }}</p>
    <p>Rebounds Per Game: {{ selectedPlayer2.reb }}</p>
    <p>Defensive Rebounds Per Game: {{ selectedPlayer2.dreb }}</p>
    <p>Offensive Rebounds Per Game: {{ selectedPlayer2.oreb }}</p>
    <p>Field Goal Percentage: {{ selectedPlayer2.fgpct }}</p>
    <p>Free Throws Attempted: {{ selectedPlayer2.fta }}</p>
    <p>Free Throw Percentage: {{ selectedPlayer2.ftpct }}</p>
    <p>Three Pointers Attempted: {{ selectedPlayer2.threepat }}</p>
    <p>Three Pointer Percentage: {{ selectedPlayer2.threeppct }}</p>
    <p>Three Pointers Made: {{ selectedPlayer2.threepmade }}</p>
    <p>Steals Per Game: {{ selectedPlayer2.stl }}</p>
    <p>Blocks Per Game: {{ selectedPlayer2.blk }}</p>
    <p>Plus/Minus: {{ selectedPlayer2.plusminus }}</p>
    <p>Turnovers Per Game: {{ selectedPlayer2.turnov }}</p>
    <p>Field Goals Attempted: {{ selectedPlayer2.fga }}</p>
    <p>Field Goals Made: {{ selectedPlayer2.fgm }}</p>
    <p>Minutes Per Game: {{ selectedPlayer2.min }}</p>
    <p>Offensive Rating: {{ selectedPlayer2.offrtg }}</p>
    <p>Defensive Rating: {{ selectedPlayer2.defrtg }}</p>
    <p>Assist/TO Ratio: {{ selectedPlayer2.astto }}</p>
    <p>Effective Field Goal Percentage: {{ selectedPlayer2.efgpct }}</p>
    <p>True Shooting Percentage: {{ selectedPlayer2.tspct }}</p>
    <p>Assist Percentage: {{ selectedPlayer2.astpct }}</p>
    <p>Player Impact Estimate: {{ selectedPlayer2.pie }}</p>


</div>





<!-- <ul>
  <li ng-repeat="player in ctrl.players">
    <a ng-click="ctrl.goShowPage(player)">{{ player.name }} - {{ player.team }}</a>
  </li>
</ul>
 -->
