<h2 class="page-title">Traditional Stats</h2>
<div class="player-select">
  <h4>Select Players:</h4>
  <div class="dropdown1">
    <select ng-model="player1Index" ng-change="updateChart1()" ng-options="players.indexOf(player1Index) as player1Index.name for player1Index in players"></select>
  </div>
  <div class="dropdown2">
    <select ng-model="player2Index" ng-change="updateChart1()" ng-options="players.indexOf(player2Index) as player2Index.name for player2Index in players"></select>
  </div>
</div>
  <nvd3 options="options" data="data"></nvd3>
    <div class="space">
      <div class="compare">

        <div class="player-profile1">
          <div class="player-name">
            <h3>{{ players[player1Index].name}}</h3>
          </div>
            <div class="player1-card">
              <div class="player-photo">
                <img src="{{players[player1Index].photo}}" />
              </div>
              <div class="player-info">
                <p class="player-info-text">Team: {{ players[player1Index].team }}</p>
                <p class="player-info-text">Height: {{ players[player1Index].height }}</p>
                <p class="player-info-text">Weight: {{ players[player1Index].weight }}</p>
                <p class="player-info-text">Position: {{ players[player1Index].position }}</p>
              </div>
            </div>
        </div>

        <div class="player-profile2">
          <div class="player-name">
            <h3>{{ players[player2Index].name }}</h3>
          </div>
            <div class="player2-card">
              <div class="player-photo">
                <img src="{{ players[player2Index].photo }}" />
              </div>
                <div class="player-info">
                  <p class="player-info-text">Team: {{ players[player2Index].team }}</p>
                  <p class="player-info-text">Height: {{ players[player2Index].height }}</p>
                  <p class="player-info-text">Weight: {{ players[player2Index].weight }}</p>
                  <p class="player-info-text">Position: {{ players[player2Index].position }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- <h1>Stats</h1>

<div class="compare">
<div class="dropdown1">
  <h3>Player 1</h3>
  <p>Games Played: {{ selectedPlayer1.gp }}</p>
  <p>Points Per Game: {{ selectedPlayer1.ppg }}</p>
  <p>Assists Per Game: {{ selectedPlayer1.apg }}</p>
  <p>Rebounds Per Game: {{ selectedPlayer1.reb }}</p>
  <p>Defensive Rebounds Per Game: {{ selectedPlayer1.dreb }}</p>
  <p>Offensive Rebounds Per Game: {{ selectedPlayer1.oreb }}</p>
  <p>Field Goal Percentage: {{ selectedPlayer1.fgpct }}</p>
  <p>Free Throws Attempted: {{ selectedPlayer1.fta }}</p>
  <p>Free Throw Percentage: {{ selectedPlayer1.ftpct }}</p>
  <p>Three Pointers Attempted: {{ selectedPlayer1.threepat }}</p>
  <p>Three Pointer Percentage: {{ selectedPlayer1.threeppct }}</p>
  <p>Three Pointers Made: {{ selectedPlayer1.threepmade }}</p>
  <p>Steals Per Game: {{ selectedPlayer1.stl }}</p>
  <p>Blocks Per Game: {{ selectedPlayer1.blk }}</p>
  <p>Plus/Minus: {{ selectedPlayer1.plusminus }}</p>
  <p>Turnovers Per Game: {{ selectedPlayer1.turnov }}</p>
  <p>Field Goals Attempted: {{ selectedPlayer1.fga }}</p>
  <p>Field Goals Made: {{ selectedPlayer1.fgm }}</p>
  <p>Minutes Per Game: {{ selectedPlayer1.min }}</p>
  <p>Offensive Rating: {{ selectedPlayer1.offrtg }}</p>
  <p>Defensive Rating: {{ selectedPlayer1.defrtg }}</p>
  <p>Assist/TO Ratio: {{ selectedPlayer1.astto }}</p>
  <p>Effective Field Goal Percentage: {{ selectedPlayer1.efgpct }}</p>
  <p>True Shooting Percentage: {{ selectedPlayer1.tspct }}</p>
  <p>Assist Percentage: {{ selectedPlayer1.astpct }}</p>
  <p>Player Impact Estimate: {{ selectedPlayer1.pie }}</p>
</div>

<div class="dropdown2">

  <h3>Player 2</h3>
    <p>Games Played: {{ selectedPlayer2.gp }}</p>
    <p>Points Per Game: {{ selectedPlayer2.ppg }}</p>
    <p>Assists Per Game: {{ selectedPlayer2.apg }}</p>
    <p>Rebounds Per Game: {{ selectedPlayer2.reb }}</p>
    <p>Defensive Rebounds Per Game: {{ selectedPlayer2.dreb }}</p>
    <p>Offensive Rebounds Per Game: {{ selectedPlayer2.oreb }}</p>
    <p>Field Goal Percentage: {{ selectedPlayer2.fgpct }}</p>
    <p>Free Throws Attempted: {{ selectedPlayer2.fta }}</p>
    <p>Free Throw Percentage: {{ selectedPlayer2.ftpct }}</p>
    <p>Three Pointers Attempted: {{ selectedPlayer2.threepat }}</p>
    <p>Three Pointer Percentage: {{ selectedPlayer2.threeppct }}</p>
    <p>Three Pointers Made: {{ selectedPlayer2.threepmade }}</p>
    <p>Steals Per Game: {{ selectedPlayer2.stl }}</p>
    <p>Blocks Per Game: {{ selectedPlayer2.blk }}</p>
    <p>Plus/Minus: {{ selectedPlayer2.plusminus }}</p>
    <p>Turnovers Per Game: {{ selectedPlayer2.turnov }}</p>
    <p>Field Goals Attempted: {{ selectedPlayer2.fga }}</p>
    <p>Field Goals Made: {{ selectedPlayer2.fgm }}</p>
    <p>Minutes Per Game: {{ selectedPlayer2.min }}</p>
    <p>Offensive Rating: {{ selectedPlayer2.offrtg }}</p>
    <p>Defensive Rating: {{ selectedPlayer2.defrtg }}</p>
    <p>Assist/TO Ratio: {{ selectedPlayer2.astto }}</p>
    <p>Effective Field Goal Percentage: {{ selectedPlayer2.efgpct }}</p>
    <p>True Shooting Percentage: {{ selectedPlayer2.tspct }}</p>
    <p>Assist Percentage: {{ selectedPlayer2.astpct }}</p>
    <p>Player Impact Estimate: {{ selectedPlayer2.pie }}</p>
</div>
</div> -->
