#david {
  border-radius: 25px;
}

#chris {
  border-radius: 25px;
}


/*#copyright {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #000;
    background-size: cover;
    border: 1px solid #000;
    color: white;
}*/

#wrapper {
  height: 100%;
  position: relative;
  margin: 0 auto -20px;
  /* the bottom margin is the negative value of the footer's height */
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 20px;
  /* Height of the footer element */
}

.copyright {
  color: white;
  text-align: center;
  background: black;
  background-size: cover;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#home-image {
  border-radius: 25px;
}

#bar {
  background: black;
}

h1 {
  text-align: center;
}

.strength {
  text-align: center;
  padding-top: 50px;
}

.player-select {
  align-content: center;
}

.dropdown1 {
  width: 50%;
  float: left;
  padding-left: 150px;
  text-align: center;
  padding-bottom: 20px;
}

.dropdown2 {
  float: right;
  width: 50%;
  text-align: center;
  padding-right: 150px;
  padding-bottom: 20px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: orange;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #CEE98F;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

body {
  background-image: url("http://i.imgur.com/tjcO0TH.jpg")
}
